body {
    font-family: 'Lato', sans-serif;
    margin: 0px 0px;
    padding-left: 0px;

}

/* FIRST PART STARTING FROM HERE  */


#D-01 {
    text-align: center;
    color: white;
    background-image: url(img-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 90%;
    width: 300px;
    padding: 10% 40%;

}

#H-01 {
    font-size: xx-large;
    font-weight: 1000;
    font-family: sans-serif;
    

}

.link-button {
    background-color: rgba(137, 43, 226, 0.966);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;

}

/* 2ND PART STARTS FROM HERE  */


section {
    margin: 100px;
    padding-left: 00px;
}


#H-02 {
    font-size: xx-large;
    font-weight: 1000;
    font-family: sans-serif;
    text-align: center;
}

.P {
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
    padding-left: 40px;

}

#box-01 {
    padding: 10px 90px 0px 40px;
    width: 900px;
    height: 150px;
    padding-left: 250px;
    
}

.box-01 {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(192, 192, 192, 0.322);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    padding-top: 30px;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    font-size:x-large;
    color: rgba(0, 0, 0, 0.705);

    

}

#B1-02 {
    border: 2px solid black;
    background-color: rgba(137, 43, 226, 0.637);
}

#D-02 {
    text-align: center;
}

#P-02 {
    color: rgba(141, 141, 141, 0.863);
    padding-right: 25px;
}

#link-button-02 {

    margin-left: 10px;
}

/* 3RD PART STARTS FROM HERE  */


.H-03 {
    text-align: center;
}

#H-03 {
    font-size: xx-large;
    font-weight: 1000;
    font-family: sans-serif;
    padding-left: 20px;

}

#P-03 {
    color: rgba(0, 0, 0, 0.753);
    padding-left: 100px;

}

#box-02 {
    padding: 10px 0px 0px 260px;
    width: 900px;
    height: 350px;

}

.box-02 {
    position: relative;
    font-size: small;
    width: 250px;
    height: 250px;
    background: rgba(192, 192, 192, 0.322);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
    padding-top: 20px;

}
#box2-01{
    background-color:rgba(255, 68, 0, 0.219) ;
}
#box2-02{
    background-color: rgba(172, 255, 47, 0.308);
}
#box2-03{
    background-color: rgba(0, 0, 255, 0.315);
}
/* 4TH PART STARTS FROM HERE  */

#S-04 {

    display: flex;
    padding-left: 20px;
    margin-right: 20px;

}

#D-04 {
    width: 50%;

}

#H-04{
    font-size: xx-large;
    font-weight: 1000;
    font-family: sans-serif;
}

#P-04{

}

#I-04 {
    width: 500px;
    height: 400px;
    padding-left: 40px;
    padding-bottom: 50px;
  
  
}


/* 5TH PART STARTS FROM HERE  */
#S-05{
    display: flex;
    padding-left: 20px;
    margin-right: 20px;
}
#I-05{
    width: 500px;
    height: 400px;
    padding-right: 60px;
    padding-bottom: 50px;
 
  
}

#D-05{
    width: 50%;
}
#H-05{
    font-size: xx-large;
    font-weight: 1000;
    font-family: sans-serif;
}



/* 6TH PART STARTS FROM HERE  */

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    font-family: sans-serif;
    padding-left: 20px;
    margin-right: 20px;

}
#H-07{
    color: purple;
    font-family: sans-serif;
    text-decoration: underline;
    font-size: large;
}